test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    exclude = ["install.subdir"]

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.2312a40a0f485bb2763b437f77f346bbdfc2dbc6.name = "Upgrade from 6.3.3~ynh1"
    