[Unit]
Description=rocketchat
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/rocketchat
User=#USER#
ExecStart=/usr/local/bin/node main.js
Restart=always
SyslogIdentifier=rocketchat
Environment="BIND_IP=127.0.0.1"
Environment="ROOT_URL=https://#ROOTURL##LOCATION#"
Environment="PORT=#PORT#"
Environment="MONGO_URL=mongodb://localhost:27017/rocketchat"

[Install]
WantedBy=multi-user.target
