[Unit]
Description=The Rocket.Chat server
Wants=__MONGODB_SERVICENAME__.service
After=network.target remote-fs.target nss-lookup.target nginx.service __MONGODB_SERVICENAME__.service

[Service]
User=__APP__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
Environment="NODE_ENV=production"
ExecStart=__YNH_NODE__ main.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__
Environment=MONGO_URL=mongodb://localhost:27017/__APP__?replicaSet=01-rs
Environment=MONGO_OPLOG_URL=mongodb://localhost:27017/local?replicaSet=01-rs
Environment=ROOT_URL=https://__DOMAIN____PATH__:__PORT__
Environment=PORT=__PORT__

[Install]
WantedBy=multi-user.target
