[Unit]
Description=The Rocket.Chat server
Wants=__MONGODB_SERVICENAME__.service
After=network.target remote-fs.target nss-lookup.target nginx.service __MONGODB_SERVICENAME__.service

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
Environment="NODE_ENV=production"
ExecStart=__YNH_NODE__ __FINALPATH__/main.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__
Environment=MONGO_URL=mongodb://localhost:27017/__APP__?replicaSet=rs01
Environment=MONGO_OPLOG_URL=mongodb://localhost:27017/local?replicaSet=rs01
Environment=ROOT_URL=https://__DOMAIN____PATH__
Environment=PORT=__PORT__
Environment=ADMIN_USERNAME=__ADMIN__
Environment=ADMIN_PASS=__PASSWORD__
Environment=ADMIN_EMAIL=__EMAIL__
Environment=OVERWRITE_SETTING_Show_Setup_Wizard=completed

Environment=LDAP_Enable:1
Environment=LDAP_BaseDN:ou=users,dc=yunohost,dc=org
Environment=LDAP_Host:localhost
Environment=LDAP_Reconnect:1
Environment=LDAP_Port:389
Environment=LDAP_Authentication:1
Environment=LDAP_Username_Field:uid
Environment=LDAP_Unique_Identifier_Field:uid
Environment=LDAP_User_Search_Filter:(objectclass=inetOrgPerson)
Environment=LDAP_User_Search_Scope:sub
Environment=LDAP_User_Search_Field:uid
Environment=LDAP_Accounts_RegistrationForm:1

Environment=SMTP_Host:localhost
Environment=SMTP_Port:25
#Environment=SMTP_Username:
#Environment=SMTP_Password:
Environment=From_Email:rocketchat@__DOMAIN__

[Install]
WantedBy=multi-user.target
